[submodule "Session1_CompilerAndDebugger/CodeQuality/cppbestpractices"]
	path = Session1_CompilerAndDebugger/CodeQuality/cppbestpractices
	url = git@github.com:NguyenLuongDuyKhanh/cppbestpractices.git
